In [1]:
#objective, make a clean function that can take in filename as a paramenter

In [2]:
from utils.utils import clean_yahoo_data
import pandas as pd

In [12]:
fname = "csv_data/dirty_data/spy_daily_05-19.csv"
pd.read_csv(fname)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2005-11-21,125.150002,125.910004,124.980003,125.760002,92.905090,50021200
1,2005-11-22,125.559998,126.519997,125.419998,126.300003,93.304031,66438800
2,2005-11-23,126.250000,127.410004,126.209999,127.029999,93.843323,50854700
3,2005-11-25,126.980003,127.220001,126.809998,127.129997,93.917198,15270000
4,2005-11-28,127.250000,127.269997,126.040001,126.230003,93.252281,54498500
...,...,...,...,...,...,...,...
3517,2019-11-12,308.750000,309.989990,308.149994,309.000000,303.137878,46484600
3518,2019-11-13,307.910004,309.540009,307.660004,309.100006,303.235992,53917700
3519,2019-11-14,308.790009,309.640015,308.089996,309.549988,303.677429,51219900
3520,2019-11-15,311.019989,311.839996,310.260010,311.790009,305.875000,62023600
3521,2019-11-18,311.529999,312.279999,311.029999,312.019989,306.100616,49228000

In [13]:
df = clean_yahoo_data(fname)
save_fname = 'csv_data/clean_data/spy_daily_05-19_clean.csv'
df.to_csv(save_fname)

In [14]:
df

      Unix Timestamp    return        Date
0       1.132553e+09  0.610000  2005-11-21
1       1.132639e+09  0.740005  2005-11-22
2       1.132726e+09  0.779999  2005-11-23
3       1.132898e+09  0.149994  2005-11-25
4       1.133158e+09 -1.019997  2005-11-28
...              ...       ...         ...
3517    1.573538e+09  0.250000  2019-11-12
3518    1.573625e+09  1.190002  2019-11-13
3519    1.573711e+09  0.759979  2019-11-14
3520    1.573798e+09  0.770020  2019-11-15
3521    1.574057e+09  0.489990  2019-11-18

[3522 rows x 3 columns]